{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>




    <div class="card border-dark mb-3" id="Logg" style="width:500px;right:450px;position: absolute">
        <div class="card-header" style="background-color:black;color:white"><h1 style="text-align:center">About</h1></div>
	<div class="cv" style="padding:20px">
	
        <p>
		This web application is developed using Python based framework Django. In this application a user can create his own profile and he can refer or post reviews about various categories ranging from hotels to movies. 
		This is a mini project made by Syed Danish Hussaini (160117737057) and Syed Farhan (160117737058) under the guidance of Mr.Gangadhar Rao Sir.
	</p>
	
	</div>
    
    </div>
{% endblock %}

   