{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'acoounts/reg.css' %}">
<br>
<br>
<br>




    <div class="card border-dark mb-3" id="Logg">
        <div class="card-header" style="background-color:black;color:white"><h1 style="text-align:center">Register</h1></div>
        <br>
        <form method="post" style="padding:20px;color: black">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button class="btn" style="background-color:black;color:white" type="submit">Smash It</button>
        </form>
    
    
    </div>
{% endblock %}

   